@font-face {
  font-family: 'Becket';
  src:
    url('./assets/fonts/becket/beckett-medium-pro.woff2') format('woff2'),
    url('./assets/fonts/becket/a2_-_beckett_demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('./assets/fonts/open-sans/open-sans-v40-latin_latin-ext-regular.woff2') format('woff2'),
    url('./assets/fonts/open-sans/open-sans-v40-latin_latin-ext-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    url('./assets/fonts/open-sans/open-sans-v40-latin_latin-ext-600.woff2') format('woff2'),
    url('./assets/fonts/open-sans/open-sans-v40-latin_latin-ext-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src:
    url('./assets/fonts/open-sans/open-sans-v40-latin_latin-ext-800.woff2') format('woff2'),
    url('./assets/fonts/open-sans/open-sans-v40-latin_latin-ext-800.ttf') format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', 'Beckett Medium Pro', sans-serif;
  font-weight: normal;
  -webkit-overflow-scrolling: touch;
  color: #222222;
  position: relative;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Open Sans', sans-serif;
  text-wrap: pretty;
}

h2 {
  &.featured-heading {
    color: white;
    font-size: 1.5rem;

    @media screen and (min-width: 1200px) {
      font-size: 4rem;
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;

  &[href^='mailto'],
  &[href^='tel'] {
    all: unset;
    text-align: center;
    cursor: pointer;
    line-height: 1.38;
    font-size: 0.875rem;
    text-decoration: underline;

    @media screen and (min-width: 768px) {
      font-size: 1.14rem;
    }
  }
}

button,
a {
  font-family: 'Open Sans', 'Beckett Medium Pro', sans-serif;
}

p {
  line-height: 1.38;
  font-size: 0.875rem;

  @media screen and (min-width: 1024px) {
    font-size: 1.14rem;
  }
}

h2 {
  line-height: 1.5rem;

  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    max-width: calc(1280px + 60px);
    padding: 0 30px;
  }
}

.discount-offer-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 100%;
  padding-block: 5px;
  padding-inline: 20px;
  gap: 5px;
  background-color: white;
  border-bottom: 1px solid white;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  z-index: 10;
  justify-content: space-between;
  filter: drop-shadow(0px 19px 24px #000000);

  p {
    color: #222222;
  }
}
.logo-sticky-header {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 54px;
  }

  p {
    font-family: 'Becket';
    font-size: 32px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: -4px;
  }
}

.buy-box {
  display: flex;
  gap: 20px;
  align-items: center;

  .buy-button-secondary {
    all: unset;
    align-items: center;
    border-radius: 60px;
    min-width: 255px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    background-color: #212322;
    height: 60px;
    color: #fff;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      order: 1;
      min-width: 320px;
    }
  }

  .button-wrapper {
    all: unset;
    position: relative;
    background-color: rgb(242, 244, 247);
    border-radius: 200px;
    cursor: pointer;
    order: 1;

    @media screen and (min-width: 768px) {
      margin-left: 290px;
      order: 0;
    }
  }

  .reach-to-us {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 200px;
    bottom: 0px;
    height: 60px;
    justify-content: center;
    margin: 0px;
    line-height: 60px;
    cursor: pointer;
    min-width: 60px;
    background-color: rgb(4, 4, 4);
    color: white;

    svg {
      path {
        stroke: currentColor;
      }
    }
  }
}

.buy-box-label {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 200px;
  color: #222222;
  padding: 17px 17px 17px 40px;
  width: 350px;
  background-color: rgb(242, 244, 247);

  p {
    font-size: 15px;
    line-height: 1;
  }
}

.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#intersecting-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: -1;
}

.hero-section {
  height: calc(100vh - 70px);
  height: calc(100svh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
  padding-block: 40px;

  @media screen and (min-width: 768px) {
    gap: 40px 0;
    -webkit-perspective: 600;
    perspective: 600;
    height: calc(100svh - 118px);
  }

  @media screen and (min-width: 1200px) {
    gap: 0 0;
  }
}

.hidden-heading {
  position: absolute;
  top: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.hero-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  a {
    display: none;
  }

  @media screen and (min-width: 768px) {
    height: 118px;
    justify-content: unset;

    a {
      display: unset;

      &:first-of-type {
        margin-left: auto;
        margin-right: 15px;
      }
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 0 12px;

  svg,
  img {
    width: 42px;
    height: 42px;

    @media screen and (min-width: 768px) {
      width: 54px;
      height: 54px;
    }
  }

  p {
    font-weight: 600;
  }
}

.svg-icon {
  transition: transform 0.2s ease;
}

@media (hover: hover) {
  .svg-icon:hover {
    transform: scale(1.2);
  }
}

.hero-navbar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hero-banner {
  flex: 0 1 auto;
  position: relative;
  -webkit-perspective: 300;
  perspective: 300;
}

.tagline {
  font-family: 'Becket';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1;
  letter-spacing: 8px;
  transform-style: preserve-3d;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translateZ(0);
  will-change: transform;
  font-weight: 500;

  span {
    transform: scale(1);
    background: -webkit-linear-gradient(#000000, #323485);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
  }
}

.tagline span:first-child {
  font-size: clamp(2rem, 4.4vw, 6rem);
  transform: translateY(0.5vw);
  letter-spacing: 5px;
}

.tagline span:nth-of-type(2) {
  font-size: clamp(5.5rem, 8.2vw, 11.5rem);
  letter-spacing: 5px;
}

.tagline span:last-of-type {
  font-size: clamp(8rem, 11vw, 13.5rem);
  transform: translateY(-1vw);
  letter-spacing: 7px;
}

.subheading {
  text-align: center;
  font-size: clamp(1.3rem, 1.65vw, 5rem);
  line-height: 1.25;
  transform: translateY(-2vw);
  letter-spacing: 1px;
}

.hero-pills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  min-width: min(100%, 632px);
  gap: 10px;
}

.pill {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    width: unset;
  }

  img {
    object-fit: contain;

    @media screen and (min-width: 1200px) {
      aspect-ratio: 206 / 146;
    }
  }
}

.pill-text {
  text-align: center;
  font-size: 13px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.description-section {
  position: relative;
  display: flex;
  background-color: #222222;
  background-clip: border-box;
  padding-block: 80px;
  outline: 1px solid #222222;

  @media screen and (min-width: 1024px) {
    height: 100vh;
    height: 100svh;
    padding-block: unset;
  }

  img {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    height: 100svh;
    width: auto;
    object-fit: cover;

    &:first-of-type {
      right: 0;
    }

    &:last-of-type {
      left: 0;
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.description-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 494px;

  @media screen and (min-width: 1200px) {
    max-width: 896px;
  }

  p {
    color: white;

    @media screen and (min-width: 1200px) {
      font-size: 1.12rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 25px;
  }
}

.description-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: white;
  line-height: 1.2;
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
    font-size: 40px;
  }
}

.offer-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 80px 16px 68px;

  @media screen and (min-width: 768px) {
    padding: 0 16px;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-inline: 148px;
    padding-block: 0;
    gap: 0 161px;
  }
}

.offer-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .line {
    height: 1px;
    margin-block: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;

    @media screen and (min-width: 768px) {
      margin-block: 24px;
    }
  }
}

.offer-image {
  max-width: 80%;

  @media screen and (max-width: 768px) {
    max-width: 264px;
    font-weight: 800;
    grid-row: 1;
    margin-bottom: 48px;
  }

  img {
    overflow: hidden;
    box-shadow: -18.5px 0 18.5px rgba(34, 34, 34, 0.15);
  }
}

.offer-details {
  display: flex;
  flex-direction: column;

  p {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.offer-title {
  margin-bottom: 24px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
    font-weight: 800;
  }
}

.offer-button-wrapper {
  display: flex;
  gap: 16px;
  text-align: center;
  align-items: center;
  justify-self: flex-start;

  @media screen and (min-width: 768px) {
    text-align: left;
    gap: 16px;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }

  > p {
    flex: 0 0 auto;
  }
}

.buy-button {
  display: flex;
  align-items: center;
  padding: 14px 18px;
  min-height: 52px;
  background-color: #e9553a;
  border: 1px solid #e9553a;
  border-radius: 200px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  flex: 0 1 auto;

  @media screen and (min-width: 768px) {
    min-width: 195px;
    font-size: 18px;
    min-height: 56px;
  }

  @media (hover: hover) {
    &:hover {
      color: #222222;
    }
  }
}

.buy-button-secondary {
  all: unset;
  display: flex;
  position: relative !important;
  align-items: center;
  padding: 6px 4px;
  background-color: white;
  border-radius: 200px;
  overflow: hidden;

  &::after {
    border-radius: 60px;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border: 2px solid #212322;
    pointer-events: none;
    transform-origin: 50% 50%;
  }

  .button-label {
    transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: white;
    z-index: 999;
  }

  @media (hover: hover) {
    &:hover {
      .button-label {
        color: #222222 !important;
      }

      .overlay-wrapper {
        span {
          opacity: 1;
          transform: scale(2.5);
          transition:
            opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
            transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
    }
  }

  .overlay-wrapper {
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    margin: auto !important;
    right: 0 !important;
    top: 0 !important;
    overflow: hidden;

    span {
      height: 384px;
      width: 384px;
      left: -46px;
      top: -193px;
      background: white;
      border-radius: 100%;
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: scale(0);
      transition:
        opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
      will-change: transform;
      z-index: 2;
    }
  }
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;

  @media screen and (min-width: 1200px) {
    padding-block: 172px;
  }

  img {
    display: flex;
    width: 26px;
    margin: 0 auto 40px auto;

    @media screen and (min-width: 1200px) {
      width: 35px;
      margin: 0 auto 80px auto;
    }
  }
}

.section-divider {
  all: unset;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #222222;
}

.review-container {
  max-width: 578px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    gap: 80px;
  }
}

.review-card {
  .review-text {
    margin-bottom: 20px;
  }

  .review-authorSrb {
    font-weight: 800;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    .dash {
      letter-spacing: -1.5px;
      margin-right: 8px;
      font-weight: normal;
      font-size: 16px;
    }

    .review-authorOg {
      font-weight: normal;
      text-transform: none;
    }
  }

  .review-occupation {
    color: rgba(34, 34, 34, 0.4);
    padding-top: 2px;
  }
}

.description-small-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000000;
  outline: 1px solid #222222;

  img {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    object-fit: cover;

    &:first-of-type {
      right: 0;
    }

    &:last-of-type {
      left: 0;
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.description-small-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 664px;
  padding: 80px 16px;

  p:not(:last-child) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: 1200px) {
    padding: 64px 30px;
    padding: 172px 0;

    p:not(:last-child) {
      margin-bottom: 53px;
    }
  }

  p:nth-of-type(3) {
    text-transform: uppercase;
    font-weight: 800;
  }
}

.author-section {
  display: grid;
  place-items: center;
  overflow: hidden;

  @media screen and (min-width: 1024px) and (min-height: 780px) {
    padding: 0;
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
  }

  @media screen and (min-width: 1800px) {
    height: 110vh;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1.2fr 1fr;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  picture {
    display: flex;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
      justify-self: flex-end;
      height: 100%;
      width: 100%;
    }
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.author-text {
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  order: 2;

  @media screen and (min-width: 768px) {
    max-width: 512px;
    padding: 64px 30px;
    order: 0;
  }

  h2 {
    margin-bottom: 10px;
  }

  span {
    font-weight: 800;
  }
}

.order-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 80px;
  gap: 16px;

  @media screen and (min-width: 1024px) and (min-height: 780px) {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
    gap: 0;
  }

  @media screen and (min-width: 768px) {
    padding-block: 48px;
  }

  > img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  p {
    color: white;
    text-align: center;
  }

  .grid {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 0;
    gap: 16px;

    @media screen and (min-width: 768px) {
      gap: 36px 18px;
      grid-template-columns: 1fr 316px 1fr;
      margin: auto 0;
    }

    @media screen and (min-width: 1024px) {
      gap: 48px;
    }

    .image-wrapper {
      display: flex;
      min-height: 0;
      max-height: 100%;

      @media screen and (max-width: 767px) {
        margin: auto;
        width: 45%;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }

    h2 {
      white-space: nowrap;

      &:first-child {
        justify-self: flex-end;
      }
    }
  }
}
.order-button-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    grid-column: 2/3;
  }
}

.footer-addendum {
  display: block;
  padding: 80px 16px 40px 16px;
  align-content: center;

  @media screen and (min-width: 768px) {
    padding: 112px 30px 90px 30px;
  }

  > * {
    width: fit-content;
    margin-inline: auto;
  }

  > a {
    display: block;

    &:first-of-type {
      margin: 48px 0 10px 0;
    }

    &:last-of-type {
      margin-bottom: 24px;

      @media screen and (min-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }

  .social {
    display: flex;
    gap: 24px;
    align-items: center;

    @media screen and (min-width: 768px) {
      gap: 10px;
    }

    a {
      display: flex;
    }

    .svg-icon {
      width: 24px;

      @media screen and (min-width: 768px) {
        width: 38px;
      }
    }
  }
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #222222;
  height: 65px;
  gap: 8px;
}

.hide-on-small {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hide-on-large {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.hide-till-desktop {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.hidden-text {
  text-indent: -999px;
  visibility: hidden;
}
