@font-face {
  font-family: 'Becket';
  src:
    url('./assets/fonts/becket/beckett-medium-pro.woff2') format('woff2'),
    url('./assets/fonts/becket/a2_-_beckett_demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/open-sans/open-sans-v40-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/open-sans/open-sans-v40-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/open-sans/open-sans-v40-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', 'Beckett Medium Pro', sans-serif;
  font-weight: normal;
  -webkit-overflow-scrolling: touch;
  color: #222222;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  &.featured-heading {
    color: white;
    font-size: 1.5rem;

    @media screen and (min-width: 1200px) {
      font-size: 4rem;
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;

  &[href^='mailto'],
  &[href^='tel'] {
    all: unset;
    text-align: center;
    cursor: pointer;
    line-height: 1.38;
    font-size: 0.875rem;
    text-decoration: underline;

    @media screen and (min-width: 768px) {
      font-size: 1.14rem;
    }
  }
}

p {
  line-height: 1.38;
  font-size: 0.875rem;

  @media screen and (min-width: 768px) {
    font-size: 1.14rem;
  }
}

h2 {
  line-height: 1.5rem;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.magnetic-cta {
  z-index: 100;
  padding: 6.5rem 4rem 4rem 6.5rem;
  position: fixed;
  inset: auto 0% 0% auto;
  border: unset;
  background: unset;
}

.inner-circle {
  border-radius: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 8.125rem;
  height: 8.125rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.25rem;

  background: linear-gradient(
    140deg,
    #0d161d 0%,
    #0e212b 20.5%,
    #173d51 49.5%,
    #453a3a 69%,
    #5b2521 84%,
    #541a1d 100%
  );

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    width: 260px;
    height: 260px;
    box-sizing: border-box;
    border-radius: 100%;
    background: linear-gradient(
      140deg,
      #0d161d 0%,
      #0e212b 20.5%,
      #173d51 49.5%,
      #453a3a 69%,
      #5b2521 84%,
      #541a1d 100%
    );
    animation: pulse-ring 2.3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  > p {
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
  }

  svg {
    width: 23px;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.5);
  }
  50%,
  100% {
    opacity: 0;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    max-width: calc(1280px + 60px);
    padding: 0 30px;
  }
}

.discount-offer-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  height: 56px;
  width: 100%;
  max-width: 100%;
  place-content: center;
  place-items: center;
  flex-direction: column;
  padding-block: 5px;
  gap: 5px;
  background-color: #222222;
  border-bottom: 1px solid white;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition:
    transform 1s ease,
    opacity 1s ease;
  z-index: 10;

  p {
    color: white;
    text-align: center;
  }
}

.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#intersecting-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: -1;
}

#request-gesture-permision {
  height: 0;
  position: absolute;
  visibility: hidden;
}

.hero-section {
  height: calc(100vh - 70px);
  height: calc(100svh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
  padding-block: 40px;

  @media screen and (min-width: 768px) {
    -webkit-perspective: 600;
    perspective: 600;
    height: calc(100svh - 118px);
  }

  @media screen and (min-width: 1200px) {
    gap: 0 0;
  }
}

.hidden-heading {
  position: absolute;
  top: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.hero-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  a {
    display: none;
  }

  @media screen and (min-width: 768px) {
    height: 118px;
    justify-content: unset;

    a {
      display: unset;

      &:first-of-type {
        margin-left: auto;
        margin-right: 15px;
      }
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 0 12px;

  p {
    font-weight: 600;
  }
}

.svg-icon {
  transition: transform 0.2s ease;
}

.svg-icon:hover {
  transform: scale(1.2);
}

.hero-navbar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hero-banner {
  flex: 0 1 auto;
  position: relative;
  -webkit-perspective: 300;
  perspective: 300;
}

.tagline {
  font-family: 'Becket';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1;
  letter-spacing: 8px;
  transform-style: preserve-3d;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translateZ(0);
  will-change: transform;
  font-weight: 500;

  span {
    transform: scale(1);
    background: -webkit-linear-gradient(#000000, #323485);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
  }
}

.tagline span:first-child {
  font-size: clamp(3rem, 4.4vw, 6rem);
  transform: translateY(0.5vw);
  letter-spacing: 5px;
}

.tagline span:nth-of-type(2) {
  font-size: clamp(6.5rem, 8.2vw, 11.5rem);
  letter-spacing: 5px;
}

.tagline span:last-of-type {
  font-size: clamp(9rem, 11vw, 13.5rem);
  transform: translateY(-1vw);
  letter-spacing: 7px;
}

.subheading {
  text-align: center;
  font-size: clamp(1.3rem, 1.65vw, 5rem);
  line-height: 1.25;
  transform: translateY(-2vw);
  letter-spacing: 1px;
}

.hero-pills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  min-width: min(100%, 632px);
  gap: 10px;
}

.pill {
  display: flex;
  flex-direction: column;

  img {
    object-fit: contain;

    @media screen and (min-width: 1200px) {
      aspect-ratio: 206 / 146;
    }
  }
}

.pill-text {
  text-align: center;
  font-size: 13px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.description-section {
  position: relative;
  display: flex;
  background-color: #222222;
  background-clip: border-box;
  border: 1px solid #222222;
  height: 100vh;
  height: 100svh;

  img {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    height: 100svh;
    width: auto;
    object-fit: cover;

    &:first-of-type {
      right: 0;
    }

    &:last-of-type {
      left: 0;
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.description-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 494px;

  @media screen and (min-width: 1200px) {
    max-width: 896px;
  }

  p {
    color: white;

    @media screen and (min-width: 1200px) {
      font-size: 1.12rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 25px;
  }
}

.description-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: white;
  line-height: 1.2;
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
    font-size: 40px;
  }
}

.offer-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-block: 64px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    height: calc(100vh - 56px);
    height: calc(100svh - 56px);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-inline: 148px;
    padding-block: 0;
    gap: 0 161px;
  }
}

.offer-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .line {
    height: 1px;
    margin-block: 24px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
  }
}

.offer-image {
  width: 80%;

  @media screen and (max-width: 768px) {
    font-weight: 800;
  }
}

.offer-details {
  display: flex;
  flex-direction: column;

  p {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.offer-title {
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    font-weight: 800;
  }
}

.offer-button-wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
    gap: 16px;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.buy-button {
  padding: 16px 24px;
  background-color: #e9553a;
  border: 1px solid #e9553a;
  border-radius: 27px / 50%;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;
}

.buy-button:hover {
  color: #222222;
  border: 1px solid #222222;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 64px;

  @media screen and (min-width: 1200px) {
    padding-block: 172px;
  }

  img {
    display: flex;
    width: 15px;
    margin: 0 auto 40px auto;

    @media screen and (min-width: 1200px) {
      width: 35px;
      margin: 0 auto 80px auto;
    }
  }
}

.section-divider {
  all: unset;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #222222;
}

.review-container {
  max-width: 578px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    gap: 80px;
  }
}

.review-card {
  .review-text {
    margin-bottom: 20px;
  }

  .review-authorSrb {
    font-weight: 800;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    .dash {
      letter-spacing: -1.5px;
      margin-right: 8px;
      font-weight: normal;
      font-size: 16px;
    }

    .review-authorOg {
      font-weight: normal;
      text-transform: none;
    }
  }

  .review-occupation {
    color: rgba(34, 34, 34, 0.4);
    padding-top: 2px;
  }
}

.description-small-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000000;

  img {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    object-fit: cover;

    &:first-of-type {
      right: 0;
    }

    &:last-of-type {
      left: 0;
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.description-small-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 664px;
  padding: 64px 30px;

  p:not(:last-child) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {
    padding: 172px 0;

    p:not(:last-child) {
      margin-bottom: 53px;
    }
  }

  p:nth-of-type(3) {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.author-section {
  padding: 64px 30px;

  @media screen and (min-width: 1200px) {
    padding: 0;
    min-height: calc(100vh - 56px);
    min-height: calc(100svh - 56px);
  }
}

.author-grid {
  display: grid;
  place-items: center;
  gap: 24px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr auto;
  }

  img {
    max-height: 1024px;
  }
}

.author-text {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    max-width: 512px;
  }

  h2 {
    margin-bottom: 10px;
  }
}

.order-section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  height: calc(100svh - 56px);

  .container {
    padding-block: 48px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 0;

    > p {
      color: white;
      text-align: center;

      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
  }

  .grid {
    flex: 1;
    max-width: 1212px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;
    min-height: 0;

    @media screen and (min-width: 768px) {
      grid-template-columns: min-content 200px min-content;
      grid-template-rows: auto auto;
      gap: 48px;
      justify-content: center;
      align-content: center;
      place-items: center;
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: min-content 316px min-content;
    }

    .image-wrapper {
      display: flex;
      min-height: 0;
      max-height: 100%;

      @media screen and (max-width: 768px) {
        padding-block: 30px;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }

    h2 {
      white-space: nowrap;
    }

    .order-button-wrapper {
      display: flex;
      justify-content: center;

      @media screen and (min-width: 768px) {
        grid-column: 2/3;
      }
    }
  }

  > img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.footer-addendum {
  display: block;
  padding-block: 64px;
  align-content: center;

  @media screen and (min-width: 768px) {
    padding-block: 112px;
  }

  > * {
    width: fit-content;
    margin-inline: auto;
  }

  > a {
    display: block;

    &:first-of-type {
      margin: 48px 0 10px 0;
    }

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  .social {
    display: flex;
    gap: 10px;
  }
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #222222;
  height: 65px;
  gap: 8px;
}

.hide-on-small {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hide-on-large {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
