*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #222222;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 40px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding: 0 80px;
  }
}

.discount-offer-wrapper {
  display: flex;
  justify-content: center;
  background-color: #222222;
  height: 56px;
}

.discount-text-block {
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 1px;
}

.hero-section {
  height: calc(100svh - 56px - 118px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 84px 0;
}

.hero-navbar-wrapper {
  display: flex;
  align-items: center;
  height: 118px;
  border-bottom: 1px solid #222222;
}

.hero-navbar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hero-banner {
  max-width: 376px;
}

.hero-pills {
  display: flex;
  justify-content: space-between;
  max-width: 632px;
  width: 100%;
}

.pill {
  max-width: 206px;
}

.pill-text {
  text-align: center;
  font-weight: 600;
}

.description-section {
  min-height: 100vh;
  background-image: url(assets/img/blackBackgroundWithSquarsBig.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.description-title {
  margin-top: 247px;
  font-weight: 800;
  font-size: 26px;
  text-align: center;

  line-height: 1.2;

  h2:nth-of-type(2) {
    margin-top: 32px;
    margin-bottom: 80px;
  }
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 896px;
  text-align: center;
  font-size: 18px;

  p {
    margin-bottom: 25px;
  }
}

.offer-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1096px;
  min-height: 680px;
}

.offer-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 492px;
  height: 394px;

  .line {
    height: 1px;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
  }
}

.offer-details {
  display: flex;
  flex-direction: column;
}

.offer-title {
  font-size: 26px;
  margin-bottom: 40px;

  h2 {
    font-weight: 800;
  }
}

.offer-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  p:nth-of-type(1) {
    margin-bottom: 24px;
  }
}

.offer-button-wrapper {
  display: flex;
  align-items: center;

  p {
    font-size: 18px;
  }

  a {
    margin-left: 16px;
  }
}

.buy-button {
  padding: 16px 24px;
  background-color: #e9553a;
  border: 1px solid #e9553a;
  border-radius: 24px / 50%;
  color: white;
  letter-spacing: 1px;
}

.buy-button:hover {
  color: #222222;
  border: 1px solid #222222;
}

.review-section {
  border-top: 1px solid #222222;
  padding-bottom: 172px;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-quotes {
  margin-top: 172px;
  margin-bottom: 80px;
}

.review-container {
  width: 578px;
  height: 1196px;
  text-align: center;
}

.review-card {
  height: 120px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 80px;

  .review-text {
    margin-bottom: 20px;
  }

  .review-authorSrb {
    font-weight: 800;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    .dash {
      letter-spacing: -1.5px;
      margin-right: 8px;
      font-weight: normal;
      font-size: 16px;
    }

    .review-authorOg {
      font-weight: normal;
      text-transform: none;
    }
  }

  .review-occupation {
    color: rgba(34, 34, 34, 0.4);
    padding-top: 2px;
  }
}

.description-small-section {
  background-image: url(assets/img/blackBackgroundWithSquaresSmall.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.description-small-text {
  width: 664px;
  height: 275px;
  margin: 172px 388px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:nth-of-type(3) {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.author-section {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.author-section > * {
  width: 50%;
}

.author-picture {
  background-image: url(assets/img/authorImg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 36% 50%;
}

.author-info {
  padding: 228px 104px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
  }
}

.author-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;

    span {
      font-weight: 800;
    }
  }
}

.order-section {
  min-height: 100vh;
  background-image: url(assets/img/starBackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 213px;
  display: flex;
  flex-direction: column;
}

.order-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  div {
    flex: 1;
    display: flex;
    align-items: center;
  }

  div:nth-of-type(1) {
    justify-content: flex-end;
  }

  div:nth-of-type(2) {
    justify-content: flex-start;
  }

  p {
    font-size: 55px;
    font-weight: 800;
    color: white;
  }
}

.order-buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-top: 64px;

  div:nth-of-type(2) {
    background-color: transparent;
    margin-bottom: 48px;
  }
}

.preFooter-section {
  display: flex;
  justify-content: center;
  min-height: 40vh;
}

.preFooter-wrapper {
  padding-top: 112px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  p {
    font-size: 18px;
    line-height: 1.2;
  }
}

.footer-section {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #222222;

  img {
    margin-right: 8px;
  }
}
