*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #222222;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Becket';
  src:
    url('assets/fonts/becket/a2_-_beckett_demibold-webfont.woff2') format('woff2'),
    url('assets/fonts/becket/a2_-_beckett_demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 30px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding: 0 80px;
  }
}

.discount-offer-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  height: 56px;
  width: 100%;
  max-width: 100%;
  place-content: center;
  place-items: center;
  flex-direction: column;
  padding-block: 5px;
  gap: 5px;
  background-color: #222222;
  border-bottom: 1px solid white;

  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition:
    transform 1s ease,
    opacity 1s ease;
}

.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#intersecting-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
}

.discount-text-block {
  font-size: 0.7rem;
  color: white;
  letter-spacing: 1px;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
    text-align: center;
  }
}

.hero-section {
  height: calc(100svh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
  padding-block: 40px;

  @media screen and (min-width: 768px) {
    -webkit-perspective: 600;
    perspective: 600;
    height: calc(100svh - 118px);
  }

  @media screen and (min-width: 1200px) {
    gap: 46px 0;
  }
}

.hidden-heading {
  position: absolute;
  top: 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.hero-navbar-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #222222;

  @media screen and (min-width: 768px) {
    height: 118px;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  gap: 0 12px;
  z-index: 1;
}

.media-wrapper {
  display: flex;
  gap: 0 10px;
  z-index: 1;
}

.hero-navbar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hero-banner {
  flex: 0 1 auto;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translateZ(0);
  will-change: transform;
}

.tagline {
  font-family: 'Becket';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1;
  letter-spacing: 8px;

  span {
    background: -webkit-linear-gradient(#000000, #323485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
  }
}

.tagline span:first-child {
  font-size: clamp(3rem, 3.5vw, 6rem);
  margin-bottom: -7px;
}

.tagline span:nth-child(2) {
  font-size: clamp(6.5rem, 7vw, 11.5rem);
}

.tagline span:last-child {
  font-size: clamp(9rem, 9.5vw, 13.5rem);
  margin-top: -16px;
}

.subheading {
  text-align: center;
  font-size: clamp(1.3rem, 1.5vw, 5rem);
  line-height: 1.25;
}

.hero-pills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  min-width: min(100%, 632px);
  gap: 10px;
}

.pill {
  display: flex;
  flex-direction: column;

  img {
    aspect-ratio: 206 / 146;
    object-fit: contain;

    &:hover {
      animation: vertical-woble 1s ease-in-out forwards;
    }
  }
}

@keyframes vertical-woble {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.pill-text {
  text-align: center;
  font-weight: 600;
  font-size: 13px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.description-section {
  background-image: url(assets/img/bg-with-squares-big.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 30px;

  @media screen and (min-width: 1200px) {
    padding: 244px 30px;
  }
}

.description-section > div {
  max-width: 494px;

  @media screen and (min-width: 1200px) {
    max-width: 896px;
  }
}

.description-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: white;
  line-height: 1.2;
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 82px;
    font-size: 40px;
  }
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 14px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }

  p:not(:last-child) {
    margin-bottom: 25px;
  }
}

.offer-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-block: 64px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 172px 170px;
    gap: 0 115px;
  }
}

.offer-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .line {
    height: 1px;
    margin-block: 24px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
  }
}

.offer-details {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.offer-title {
  font-size: 26px;
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    font-size: 40px;
    font-weight: 800;
  }
}

.offer-button-wrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    gap: 16px;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }

  p {
    font-size: 1rem;
  }

  a {
    text-transform: uppercase;
  }
}

.buy-button {
  padding: 16px 24px;
  background-color: #e9553a;
  border: 1px solid #e9553a;
  border-radius: 24px / 50%;
  color: white;
  letter-spacing: 1px;
}

.buy-button:hover {
  color: #222222;
  border: 1px solid #222222;
}

.review-section {
  border-top: 1px solid #222222;
  padding-block: 64px;

  @media screen and (min-width: 1200px) {
    padding-block: 172px;
  }
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px 0;

  @media screen and (min-width: 1200px) {
    gap: 80px 0;
  }

  svg {
    width: 15px;

    @media screen and (min-width: 1200px) {
      width: 35px;
    }
  }
}

.review-container {
  max-width: 578px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    gap: 80px;
  }
}

.review-card {
  font-size: 12px;
  letter-spacing: 1px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    font-size: 1rem;
  }

  .review-text {
    margin-bottom: 20px;
  }

  .review-authorSrb {
    font-weight: 800;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    .dash {
      letter-spacing: -1.5px;
      margin-right: 8px;
      font-weight: normal;
      font-size: 16px;
    }

    .review-authorOg {
      font-weight: normal;
      text-transform: none;
    }
  }

  .review-occupation {
    color: rgba(34, 34, 34, 0.4);
    padding-top: 2px;
  }
}

.description-small-section {
  background-image: url(assets/img/bg-with-squares-small.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-inline: 30px;
}

.description-small-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  max-width: 664px;
  padding: 64px 30px;

  p:not(:last-child) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    padding: 172px 30px;

    p:not(:last-child) {
      margin-bottom: 53px;
    }
  }

  p:nth-of-type(3) {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.author-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: initial;

  @media screen and (min-width: 1200px) {
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.author-section > * {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}

.author-picture {
  background-image: url(assets/img/author-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 36% 10%;
  flex: 1;
  min-height: 356px;

  @media screen and (min-width: 1200px) {
    max-height: initial;
    background-position: 36% 50%;
  }
}

.author-info {
  padding: 64px 30px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 228px 104px;
    h2 {
      font-size: 40px;
    }
  }
}

.author-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;

    span {
      font-weight: 800;
    }
  }

  p:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    p:not(:last-child) {
      margin-bottom: 53px;
    }
  }
}

.order-section {
  min-height: 100vh;
  background-image: url(assets/img/star-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 213px;
  display: flex;
  flex-direction: column;
}

.order-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  div {
    flex: 1;
    display: flex;
    align-items: center;
  }

  div:nth-of-type(1) {
    justify-content: flex-end;
  }

  div:nth-of-type(2) {
    justify-content: flex-start;
  }

  p {
    font-size: 55px;
    font-weight: 800;
    color: white;
  }
}

.order-buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-top: 64px;

  div:nth-of-type(2) {
    background-color: transparent;
    margin-bottom: 48px;
  }
}

.preFooter-section {
  display: flex;
  justify-content: center;
  min-height: 43vh;
}

.preFooter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 112px 90px;

  p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.preFooter-contact {
  margin-block: 48px 23px;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 18px;
  border-top: 1px solid #222222;

  img {
    margin-right: 8px;
    aspect-ratio: 16/16;
    object-fit: contain;
  }
}

.hide-on-small {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hide-on-large {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
